@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;
}
  body {
	  background-color: #E27D7A7
}
.grid-container{
	display: grid;
	gap: 1% 0.5%;
	grid-template-columns: 12% minmax(30px, 3%) auto minmax(30px, 3%) 12%;
	grid-template-rows: minmax(26vh, auto) minmax(26vh, auto) minmax(26vh, auto) auto;
}
.grid-container > div{
    text-align: center;
    border: solid 4px black;
    font-weight: normal;

}
.inner-grid > div{
	text-align: center;
	display: flex;
    align-items: center;
	justify-content: center;
}
.info {
	text-align: center;
	display: flex;
    align-items: center;
	justify-content: center;
	background-color: #9AADCD;
	border-radius: 25px;
	box-shadow: 0 -30px 50px #9AADCD  inset, 0 0 15px darkBlue inset;
    border: 15px solid #bbb;
	transition: transform .2s ease-in-out;
	padding: 5%;
}
#bottomLeft:hover,#bottomRight:hover {
    transform: scale(1.05);
}
#bottomLeft {
	grid-area: 2 / 1 / span 2 / span 1;
}
#bottomRight {
	grid-area: 2 / 5 / span 2 / span 1;
}
#rightFact , #leftFact{
	transition: opacity 1s linear;
}
.info > p {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	font-size: 30px
}
.story{
    margin: 1% 5%;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 20px;
	text-shadow: 1px 1px 10px grey;
}
.header {
	position: sticky;
	top: 0;
	text-align: center;
	border: solid 4px black;
	height: auto;
	width: 100%;
	margin-bottom: 0.6%;
	box-shadow: 0px 10px 15px grey;
	z-index: 1;
	background-color: rgb(117,144,69);
    background: linear-gradient(170deg, rgba(117,144,69,0.99) 0%, rgba(233,204,144,0.99) 70%);

}
#title{
	padding: 2vh auto;
	transition: all 1s linear;
}
.navigation > p{
    font-weight: bold;
	font-size: 20px;
}
#back {
	grid-area: 1 / 2 / span 3/  span 1;
	background-image: radial-gradient(#B8B6CC, #C79F5A)
}
.inner-grid {
  grid-area: 1/3/span 3/span 1;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap:0;
}
.page {
	background-image: url("paper.jpg");
	display: flex;
    align-items: center;
	justify-content: center;
	box-shadow: 0px 10px 15px grey; 
	margin: 0;
	padding: 0;
}
#backLeftPage{
	grid-area: 1 / 1 / span 1/  span 1;
	perspective: 8000px;
	transform: rotateY(180deg);
}
#backLeftStory{
	transform: rotateY(180deg);
}
#backRightPage{
	grid-area: 1 / 2 / span 1 / span 1;
	perspective: 8000px;
}
#turnPage{
	height: 100%;
	width: 100%;
	transform-origin: left;
	position: absolute;
}
#next {
	grid-area: 1 / 4 / span 3 /  span 1;
	background-image: radial-gradient(#ede2d4, #E0B364)
}
.navigation {
	display: flex;
    align-items: center;
	justify-content: center;;
	font-weight: bold;
	transition: all .2s;
}
.navigation:hover {
	transform: scale(1.01);
	box-shadow: 0px 10px 15px grey;
}
.footer {
	grid-area: 4 / 1 / span 1/  span 5;
	gap: 0;
	box-shadow: 0px 10px 15px grey;
	background-color: rgb(117,144,69);
    background: linear-gradient(170deg, rgba(233,204,144,0.99) 0%, rgba(117,144,69,0.99) 100%);
}
#moral{
	transition: all 1s linear;
}
